openapi: 3.0.1
info:
  title: Corporate Logos v2.0
  description: The Benzinga Corporate Logo API is designed to be flexible with client
    sizing requirements.
  version: 2.0.0
servers:
  - url: https://api.benzinga.com/api/v2/logos
paths:
  /api/v2/logos/bulk-sync:
    get:
      tags:
        - Logos
      summary: Bulk sync logos.
      description: Bulk sync logos.
      operationId: generate-admin-file-urls
      parameters:
        - name: fields
          in: query
          description: Fields to return in response
          required: true
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: updated_since
          in: query
          description: Updated since timestamp
          schema:
            type: string
        - name: page
          in: query
          description: Page number
          schema:
            type: integer
        - name: pagesize
          in: query
          description: Page size
          schema:
            type: integer
        - name: scale
          in: query
          description: Scale for logos
          schema:
            type: string
        - name: composite_radius
          in: query
          description: Radius for composite logos
          schema:
            type: integer
        - name: composite_auto
          in: query
          description: Whether to return composite logos
          schema:
            type: boolean
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bzhttp.Response'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bzhttp.Response'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bzhttp.Response'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bzhttp.Response'
      security:
        - ApiKeyAuth: []
  /api/v2/logos/search:
    get:
      tags:
        - Logos
      summary: Get Logos for given search keys
      description: Search logos for market securities/companies and funds
      operationId: get-search-logos
      parameters:
        - name: search_keys
          in: query
          description: Search keys to search logos for
          required: true
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: search_keys_type
          in: query
          description: "Type of search keys (cik, cusip, isin, symbol)"
          schema:
            type: string
        - name: fields
          in: query
          description: Fields to return in response
          required: true
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: composite_auto
          in: query
          description: Whether to return composite logos
          schema:
            type: boolean
        - name: composite_radius
          in: query
          description: Radius for composite logos
          schema:
            type: integer
        - name: scale
          in: query
          description: Scale for logos
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bzhttp.Response'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bzhttp.Response'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bzhttp.Response'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bzhttp.Response'
      security:
        - ApiKeyAuth: []
components:
  schemas:
    bzhttp.Error:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/bzhttp.ErrorCode'
        id:
          type: string
        value:
          type: string
    bzhttp.ErrorCode:
      type: string
      enum:
        - unsupported_message_type
        - database_query_error
        - json_unmarshaling_error
        - no_data_found
        - no_matching_endpoint
        - bad_request
        - db_error
        - internal_server_error
        - auth_failed
        - forbidden
        - failed_dependency
        - service_unavailable
        - upstream_api_error
      x-enum-varnames:
        - ErrorUnsupportedMessageType
        - ErrorDBQueryError
        - ErrorJSONUnmarshaling
        - ErrorNoDataFound
        - ErrorNoMatchingEndpoint
        - ErrorBadRequest
        - ErrorDBError
        - ErrorInternalServerError
        - ErrorAuthFailed
        - ErrorForbidden
        - ErrorFailedDependency
        - ErrorServiceUnavailable
        - ErrorUpstreamAPIError
    bzhttp.Response:
      type: object
      properties:
        data:
          type: array
          items:
            type: integer
        errors:
          type: array
          items:
            $ref: '#/components/schemas/bzhttp.Error'
        ok:
          type: boolean
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: Authorization
      in: header
x-original-swagger-version: "2.0"
