openapi: 3.0.1
info:
  title: Calendar API
  description: "This REST API returns structured data for conference calls, dividends,\
    \ earnings (and future earnings dates), economics, pharmaceutical announcements,\
    \ guidance, IPOs, secondary offerings, ratings, M&A activity, and splits."
  termsOfService: http://swagger.io/terms/
  contact: {}
  version: 2.1.0
servers:
  - url: https://api.benzinga.com/api/v2.1
paths:
  /calendar/conference-calls:
    get:
      tags:
        - conference_calls
      summary: Get Conference Calls
      description: Returns Conference Calls data
      operationId: get-conference-calls
      parameters:
        - name: page
          in: query
          description: Page number
          schema:
            type: integer
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
        - name: pagesize
          in: query
          description: Page size (alternative)
          schema:
            type: integer
        - name: "parameters[date]"
          in: query
          description: Date in YYYY-MM-DD format
          schema:
            type: string
            format: date
        - name: "parameters[date_from]"
          in: query
          description: Start date in YYYY-MM-DD format
          schema:
            type: string
            format: date
        - name: "parameters[date_to]"
          in: query
          description: End date in YYYY-MM-DD format
          schema:
            type: string
            format: date
        - name: "parameters[date_sort]"
          in: query
          description: Date sort order
          schema:
            type: string
        - name: "parameters[sort]"
          in: query
          description: Sort order
          schema:
            type: string
        - name: "parameters[action]"
          in: query
          description: Action
          schema:
            type: string
        - name: country
          in: query
          description: Country
          schema:
            type: string
        - name: "parameters[dividend_yield_operation]"
          in: query
          description: Dividend yield operation
          schema:
            type: string
        - name: "parameters[dividend_yield]"
          in: query
          description: Dividend yield
          schema:
            type: number
        - name: "parameters[importance]"
          in: query
          description: Importance
          schema:
            type: integer
        - name: "parameters[is_primary]"
          in: query
          description: Is primary
          schema:
            type: string
        - name: "parameters[tickers]"
          in: query
          description: Tickers
          schema:
            type: string
        - name: "parameters[ipo_type]"
          in: query
          description: IPO type
          schema:
            type: string
        - name: type
          in: query
          description: Type
          schema:
            type: string
        - name: "parameters[updated]"
          in: query
          description: Updated time in Unix format
          schema:
            type: string
            format: int64
        - name: updated
          in: query
          description: Updated time in Unix format
          schema:
            type: string
            format: int64
        - name: "parameters[display]"
          in: query
          description: Display
          schema:
            type: string
        - name: "parameters[securities]"
          in: query
          description: Securities
          schema:
            type: string
        - name: "parameters[date_search_field]"
          in: query
          description: Date search field
          schema:
            type: string
        - name: "parameters[date_search_strict]"
          in: query
          description: Date search strict
          schema:
            type: boolean
        - name: fields
          in: query
          description: Fields
          schema:
            type: string
        - name: analyst
          in: query
          description: Analyst
          schema:
            type: string
        - name: firm
          in: query
          description: Firm
          schema:
            type: string
        - name: "parameters[analyst_id]"
          in: query
          description: Analyst IDs
          schema:
            type: string
        - name: "parameters[firm_id]"
          in: query
          description: Firm IDs
          schema:
            type: string
        - name: search_keys
          in: query
          description: Search keys
          schema:
            type: string
        - name: search_keys_type
          in: query
          description: Search keys type
          schema:
            type: string
        - name: updated_since
          in: query
          description: Updated since time in Unix format
          schema:
            type: string
            format: int64
        - name: active
          in: query
          description: Active
          schema:
            type: boolean
        - name: firm_name
          in: query
          description: Firm name
          schema:
            type: string
        - name: analyst_name
          in: query
          description: Analyst name
          schema:
            type: string
        - name: symbols
          in: query
          description: Symbols
          schema:
            type: string
        - name: latest
          in: query
          description: Latest
          schema:
            type: boolean
        - name: rating_id
          in: query
          description: Rating ID
          schema:
            type: string
        - name: events
          in: query
          description: Events
          schema:
            type: string
        - name: event_category
          in: query
          description: Event category
          schema:
            type: string
      responses:
        "200":
          description: Conference Calls
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ConferenceJSON'
            text/xml:
              schema:
                $ref: '#/components/schemas/models.ConferenceJSON'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
      security:
        - ApiKeyAuth: []
  /calendar/dividends:
    get:
      tags:
        - Dividends
      summary: Get Dividends
      description: Returns a list of dividends
      operationId: get-dividends
      parameters:
        - name: page
          in: query
          description: Page number
          schema:
            type: integer
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
        - name: pagesize
          in: query
          description: Page size (alternative)
          schema:
            type: integer
        - name: "parameters[date]"
          in: query
          description: Date in YYYY-MM-DD format
          schema:
            type: string
            format: date
        - name: "parameters[date_from]"
          in: query
          description: Start date in YYYY-MM-DD format
          schema:
            type: string
            format: date
        - name: "parameters[date_to]"
          in: query
          description: End date in YYYY-MM-DD format
          schema:
            type: string
            format: date
        - name: "parameters[date_sort]"
          in: query
          description: Date sort order
          schema:
            type: string
        - name: "parameters[sort]"
          in: query
          description: Sort order
          schema:
            type: string
        - name: "parameters[action]"
          in: query
          description: Action
          schema:
            type: string
        - name: country
          in: query
          description: Country
          schema:
            type: string
        - name: "parameters[dividend_yield_operation]"
          in: query
          description: Dividend yield operation
          schema:
            type: string
        - name: "parameters[dividend_yield]"
          in: query
          description: Dividend yield
          schema:
            type: number
        - name: "parameters[importance]"
          in: query
          description: Importance
          schema:
            type: integer
        - name: "parameters[is_primary]"
          in: query
          description: Is primary
          schema:
            type: string
        - name: "parameters[tickers]"
          in: query
          description: Tickers
          schema:
            type: string
        - name: "parameters[ipo_type]"
          in: query
          description: IPO type
          schema:
            type: string
        - name: type
          in: query
          description: Type
          schema:
            type: string
        - name: "parameters[updated]"
          in: query
          description: Updated time in Unix format
          schema:
            type: string
            format: int64
        - name: updated
          in: query
          description: Updated time in Unix format
          schema:
            type: string
            format: int64
        - name: "parameters[display]"
          in: query
          description: Display
          schema:
            type: string
        - name: "parameters[securities]"
          in: query
          description: Securities
          schema:
            type: string
        - name: "parameters[date_search_field]"
          in: query
          description: Date search field
          schema:
            type: string
        - name: "parameters[date_search_strict]"
          in: query
          description: Date search strict
          schema:
            type: boolean
        - name: fields
          in: query
          description: Fields
          schema:
            type: string
        - name: analyst
          in: query
          description: Analyst
          schema:
            type: string
        - name: firm
          in: query
          description: Firm
          schema:
            type: string
        - name: "parameters[analyst_id]"
          in: query
          description: Analyst IDs
          schema:
            type: string
        - name: "parameters[firm_id]"
          in: query
          description: Firm IDs
          schema:
            type: string
        - name: search_keys
          in: query
          description: Search keys
          schema:
            type: string
        - name: search_keys_type
          in: query
          description: Search keys type
          schema:
            type: string
        - name: updated_since
          in: query
          description: Updated since time in Unix format
          schema:
            type: string
            format: int64
        - name: active
          in: query
          description: Active
          schema:
            type: boolean
        - name: firm_name
          in: query
          description: Firm name
          schema:
            type: string
        - name: analyst_name
          in: query
          description: Analyst name
          schema:
            type: string
        - name: symbols
          in: query
          description: Symbols
          schema:
            type: string
        - name: latest
          in: query
          description: Latest
          schema:
            type: boolean
        - name: rating_id
          in: query
          description: Rating ID
          schema:
            type: string
        - name: events
          in: query
          description: Events
          schema:
            type: string
        - name: event_category
          in: query
          description: Event category
          schema:
            type: string
      responses:
        "200":
          description: Dividends
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.DividendJSON'
            text/xml:
              schema:
                $ref: '#/components/schemas/models.DividendJSON'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
      security:
        - ApiKeyAuth: []
  /calendar/earnings:
    get:
      tags:
        - earnings
      summary: Get Earnings
      description: Returns the earnings data
      operationId: get-earnings
      parameters:
        - name: page
          in: query
          description: Page number
          schema:
            type: integer
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
        - name: pagesize
          in: query
          description: Page size (alternative)
          schema:
            type: integer
        - name: "parameters[date]"
          in: query
          description: Date in YYYY-MM-DD format
          schema:
            type: string
            format: date
        - name: "parameters[date_from]"
          in: query
          description: Start date in YYYY-MM-DD format
          schema:
            type: string
            format: date
        - name: "parameters[date_to]"
          in: query
          description: End date in YYYY-MM-DD format
          schema:
            type: string
            format: date
        - name: "parameters[date_sort]"
          in: query
          description: Date sort order
          schema:
            type: string
        - name: "parameters[sort]"
          in: query
          description: Sort order
          schema:
            type: string
        - name: "parameters[action]"
          in: query
          description: Action
          schema:
            type: string
        - name: country
          in: query
          description: Country
          schema:
            type: string
        - name: "parameters[dividend_yield_operation]"
          in: query
          description: Dividend yield operation
          schema:
            type: string
        - name: "parameters[dividend_yield]"
          in: query
          description: Dividend yield
          schema:
            type: number
        - name: "parameters[importance]"
          in: query
          description: Importance
          schema:
            type: integer
        - name: "parameters[is_primary]"
          in: query
          description: Is primary
          schema:
            type: string
        - name: "parameters[tickers]"
          in: query
          description: Tickers
          schema:
            type: string
        - name: "parameters[ipo_type]"
          in: query
          description: IPO type
          schema:
            type: string
        - name: type
          in: query
          description: Type
          schema:
            type: string
        - name: "parameters[updated]"
          in: query
          description: Updated time in Unix format
          schema:
            type: string
            format: int64
        - name: updated
          in: query
          description: Updated time in Unix format
          schema:
            type: string
            format: int64
        - name: "parameters[display]"
          in: query
          description: Display
          schema:
            type: string
        - name: "parameters[securities]"
          in: query
          description: Securities
          schema:
            type: string
        - name: "parameters[date_search_field]"
          in: query
          description: Date search field
          schema:
            type: string
        - name: "parameters[date_search_strict]"
          in: query
          description: Date search strict
          schema:
            type: boolean
        - name: fields
          in: query
          description: Fields
          schema:
            type: string
        - name: analyst
          in: query
          description: Analyst
          schema:
            type: string
        - name: firm
          in: query
          description: Firm
          schema:
            type: string
        - name: "parameters[analyst_id]"
          in: query
          description: Analyst IDs
          schema:
            type: string
        - name: "parameters[firm_id]"
          in: query
          description: Firm IDs
          schema:
            type: string
        - name: search_keys
          in: query
          description: Search keys
          schema:
            type: string
        - name: search_keys_type
          in: query
          description: Search keys type
          schema:
            type: string
        - name: updated_since
          in: query
          description: Updated since time in Unix format
          schema:
            type: string
            format: int64
        - name: active
          in: query
          description: Active
          schema:
            type: boolean
        - name: firm_name
          in: query
          description: Firm name
          schema:
            type: string
        - name: analyst_name
          in: query
          description: Analyst name
          schema:
            type: string
        - name: symbols
          in: query
          description: Symbols
          schema:
            type: string
        - name: latest
          in: query
          description: Latest
          schema:
            type: boolean
        - name: rating_id
          in: query
          description: Rating ID
          schema:
            type: string
        - name: events
          in: query
          description: Events
          schema:
            type: string
        - name: event_category
          in: query
          description: Event category
          schema:
            type: string
      responses:
        "200":
          description: Earnings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.EarningJSON'
            text/xml:
              schema:
                $ref: '#/components/schemas/models.EarningJSON'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
      security:
        - ApiKeyAuth: []
  /calendar/economics:
    get:
      tags:
        - economics
      summary: Get Economics
      description: Returns the economic calendar data
      operationId: get-economics
      parameters:
        - name: page
          in: query
          description: Page number
          schema:
            type: integer
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
        - name: pagesize
          in: query
          description: Page size (alternative)
          schema:
            type: integer
        - name: "parameters[date]"
          in: query
          description: Date in YYYY-MM-DD format
          schema:
            type: string
            format: date
        - name: "parameters[date_from]"
          in: query
          description: Start date in YYYY-MM-DD format
          schema:
            type: string
            format: date
        - name: "parameters[date_to]"
          in: query
          description: End date in YYYY-MM-DD format
          schema:
            type: string
            format: date
        - name: "parameters[date_sort]"
          in: query
          description: Date sort order
          schema:
            type: string
        - name: "parameters[sort]"
          in: query
          description: Sort order
          schema:
            type: string
        - name: "parameters[action]"
          in: query
          description: Action
          schema:
            type: string
        - name: country
          in: query
          description: Country
          schema:
            type: string
        - name: "parameters[dividend_yield_operation]"
          in: query
          description: Dividend yield operation
          schema:
            type: string
        - name: "parameters[dividend_yield]"
          in: query
          description: Dividend yield
          schema:
            type: number
        - name: "parameters[importance]"
          in: query
          description: Importance
          schema:
            type: integer
        - name: "parameters[is_primary]"
          in: query
          description: Is primary
          schema:
            type: string
        - name: "parameters[tickers]"
          in: query
          description: Tickers
          schema:
            type: string
        - name: "parameters[ipo_type]"
          in: query
          description: IPO type
          schema:
            type: string
        - name: type
          in: query
          description: Type
          schema:
            type: string
        - name: "parameters[updated]"
          in: query
          description: Updated time in Unix format
          schema:
            type: string
            format: int64
        - name: updated
          in: query
          description: Updated time in Unix format
          schema:
            type: string
            format: int64
        - name: "parameters[display]"
          in: query
          description: Display
          schema:
            type: string
        - name: "parameters[securities]"
          in: query
          description: Securities
          schema:
            type: string
        - name: "parameters[date_search_field]"
          in: query
          description: Date search field
          schema:
            type: string
        - name: "parameters[date_search_strict]"
          in: query
          description: Date search strict
          schema:
            type: boolean
        - name: fields
          in: query
          description: Fields
          schema:
            type: string
        - name: analyst
          in: query
          description: Analyst
          schema:
            type: string
        - name: firm
          in: query
          description: Firm
          schema:
            type: string
        - name: "parameters[analyst_id]"
          in: query
          description: Analyst IDs
          schema:
            type: string
        - name: "parameters[firm_id]"
          in: query
          description: Firm IDs
          schema:
            type: string
        - name: search_keys
          in: query
          description: Search keys
          schema:
            type: string
        - name: search_keys_type
          in: query
          description: Search keys type
          schema:
            type: string
        - name: updated_since
          in: query
          description: Updated since time in Unix format
          schema:
            type: string
            format: int64
        - name: active
          in: query
          description: Active
          schema:
            type: boolean
        - name: firm_name
          in: query
          description: Firm name
          schema:
            type: string
        - name: analyst_name
          in: query
          description: Analyst name
          schema:
            type: string
        - name: symbols
          in: query
          description: Symbols
          schema:
            type: string
        - name: latest
          in: query
          description: Latest
          schema:
            type: boolean
        - name: rating_id
          in: query
          description: Rating ID
          schema:
            type: string
        - name: events
          in: query
          description: Events
          schema:
            type: string
        - name: event_category
          in: query
          description: Event category
          schema:
            type: string
      responses:
        "200":
          description: Economics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.EconomicJSON'
            text/xml:
              schema:
                $ref: '#/components/schemas/models.EconomicJSON'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
      security:
        - ApiKeyAuth: []
  /calendar/events:
    get:
      tags:
        - events
      summary: Get Events
      description: Get Events
      operationId: get-events
      parameters:
        - name: page
          in: query
          description: Page number
          schema:
            type: integer
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
        - name: pagesize
          in: query
          description: Page size (alternative)
          schema:
            type: integer
        - name: "parameters[date]"
          in: query
          description: Date in YYYY-MM-DD format
          schema:
            type: string
            format: date
        - name: "parameters[date_from]"
          in: query
          description: Start date in YYYY-MM-DD format
          schema:
            type: string
            format: date
        - name: "parameters[date_to]"
          in: query
          description: End date in YYYY-MM-DD format
          schema:
            type: string
            format: date
        - name: "parameters[date_sort]"
          in: query
          description: Date sort order
          schema:
            type: string
        - name: "parameters[sort]"
          in: query
          description: Sort order
          schema:
            type: string
        - name: "parameters[action]"
          in: query
          description: Action
          schema:
            type: string
        - name: country
          in: query
          description: Country
          schema:
            type: string
        - name: "parameters[dividend_yield_operation]"
          in: query
          description: Dividend yield operation
          schema:
            type: string
        - name: "parameters[dividend_yield]"
          in: query
          description: Dividend yield
          schema:
            type: number
        - name: "parameters[importance]"
          in: query
          description: Importance
          schema:
            type: integer
        - name: "parameters[is_primary]"
          in: query
          description: Is primary
          schema:
            type: string
        - name: "parameters[tickers]"
          in: query
          description: Tickers
          schema:
            type: string
        - name: "parameters[ipo_type]"
          in: query
          description: IPO type
          schema:
            type: string
        - name: type
          in: query
          description: Type
          schema:
            type: string
        - name: "parameters[updated]"
          in: query
          description: Updated time in Unix format
          schema:
            type: string
            format: int64
        - name: updated
          in: query
          description: Updated time in Unix format
          schema:
            type: string
            format: int64
        - name: "parameters[display]"
          in: query
          description: Display
          schema:
            type: string
        - name: "parameters[securities]"
          in: query
          description: Securities
          schema:
            type: string
        - name: "parameters[date_search_field]"
          in: query
          description: Date search field
          schema:
            type: string
        - name: "parameters[date_search_strict]"
          in: query
          description: Date search strict
          schema:
            type: boolean
        - name: fields
          in: query
          description: Fields
          schema:
            type: string
        - name: analyst
          in: query
          description: Analyst
          schema:
            type: string
        - name: firm
          in: query
          description: Firm
          schema:
            type: string
        - name: "parameters[analyst_id]"
          in: query
          description: Analyst IDs
          schema:
            type: string
        - name: "parameters[firm_id]"
          in: query
          description: Firm IDs
          schema:
            type: string
        - name: search_keys
          in: query
          description: Search keys
          schema:
            type: string
        - name: search_keys_type
          in: query
          description: Search keys type
          schema:
            type: string
        - name: updated_since
          in: query
          description: Updated since time in Unix format
          schema:
            type: string
            format: int64
        - name: active
          in: query
          description: Active
          schema:
            type: boolean
        - name: firm_name
          in: query
          description: Firm name
          schema:
            type: string
        - name: analyst_name
          in: query
          description: Analyst name
          schema:
            type: string
        - name: symbols
          in: query
          description: Symbols
          schema:
            type: string
        - name: latest
          in: query
          description: Latest
          schema:
            type: boolean
        - name: rating_id
          in: query
          description: Rating ID
          schema:
            type: string
        - name: events
          in: query
          description: Events
          schema:
            type: string
        - name: event_category
          in: query
          description: Event category
          schema:
            type: string
      responses:
        "200":
          description: Events
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.EventsJSON'
            text/xml:
              schema:
                $ref: '#/components/schemas/models.EventsJSON'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
      security:
        - ApiKeyAuth: []
  /calendar/fda:
    get:
      tags:
        - fda
      summary: Get FDA
      description: "FDA approvals, clinical trials, and PDUFA dates"
      operationId: get-fda
      parameters:
        - name: page
          in: query
          description: Page number
          schema:
            type: integer
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
        - name: pagesize
          in: query
          description: Page size (alternative)
          schema:
            type: integer
        - name: "parameters[date]"
          in: query
          description: Date in YYYY-MM-DD format
          schema:
            type: string
            format: date
        - name: "parameters[date_from]"
          in: query
          description: Start date in YYYY-MM-DD format
          schema:
            type: string
            format: date
        - name: "parameters[date_to]"
          in: query
          description: End date in YYYY-MM-DD format
          schema:
            type: string
            format: date
        - name: "parameters[date_sort]"
          in: query
          description: Date sort order
          schema:
            type: string
        - name: "parameters[sort]"
          in: query
          description: Sort order
          schema:
            type: string
        - name: "parameters[action]"
          in: query
          description: Action
          schema:
            type: string
        - name: country
          in: query
          description: Country
          schema:
            type: string
        - name: "parameters[dividend_yield_operation]"
          in: query
          description: Dividend yield operation
          schema:
            type: string
        - name: "parameters[dividend_yield]"
          in: query
          description: Dividend yield
          schema:
            type: number
        - name: "parameters[importance]"
          in: query
          description: Importance
          schema:
            type: integer
        - name: "parameters[is_primary]"
          in: query
          description: Is primary
          schema:
            type: string
        - name: "parameters[tickers]"
          in: query
          description: Tickers
          schema:
            type: string
        - name: "parameters[ipo_type]"
          in: query
          description: IPO type
          schema:
            type: string
        - name: type
          in: query
          description: Type
          schema:
            type: string
        - name: "parameters[updated]"
          in: query
          description: Updated time in Unix format
          schema:
            type: string
            format: int64
        - name: updated
          in: query
          description: Updated time in Unix format
          schema:
            type: string
            format: int64
        - name: "parameters[display]"
          in: query
          description: Display
          schema:
            type: string
        - name: "parameters[securities]"
          in: query
          description: Securities
          schema:
            type: string
        - name: "parameters[date_search_field]"
          in: query
          description: Date search field
          schema:
            type: string
        - name: "parameters[date_search_strict]"
          in: query
          description: Date search strict
          schema:
            type: boolean
        - name: fields
          in: query
          description: Fields
          schema:
            type: string
        - name: analyst
          in: query
          description: Analyst
          schema:
            type: string
        - name: firm
          in: query
          description: Firm
          schema:
            type: string
        - name: "parameters[analyst_id]"
          in: query
          description: Analyst IDs
          schema:
            type: string
        - name: "parameters[firm_id]"
          in: query
          description: Firm IDs
          schema:
            type: string
        - name: search_keys
          in: query
          description: Search keys
          schema:
            type: string
        - name: search_keys_type
          in: query
          description: Search keys type
          schema:
            type: string
        - name: updated_since
          in: query
          description: Updated since time in Unix format
          schema:
            type: string
            format: int64
        - name: active
          in: query
          description: Active
          schema:
            type: boolean
        - name: firm_name
          in: query
          description: Firm name
          schema:
            type: string
        - name: analyst_name
          in: query
          description: Analyst name
          schema:
            type: string
        - name: symbols
          in: query
          description: Symbols
          schema:
            type: string
        - name: latest
          in: query
          description: Latest
          schema:
            type: boolean
        - name: rating_id
          in: query
          description: Rating ID
          schema:
            type: string
        - name: events
          in: query
          description: Events
          schema:
            type: string
        - name: event_category
          in: query
          description: Event category
          schema:
            type: string
      responses:
        "200":
          description: FDA
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.FDAJSON'
            text/xml:
              schema:
                $ref: '#/components/schemas/models.FDAJSON'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
      security:
        - ApiKeyAuth: []
  /calendar/guidance:
    get:
      tags:
        - guidance
      summary: Get Guidance
      description: Returns the guidance data
      operationId: get-guidance
      parameters:
        - name: page
          in: query
          description: Page number
          schema:
            type: integer
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
        - name: pagesize
          in: query
          description: Page size (alternative)
          schema:
            type: integer
        - name: "parameters[date]"
          in: query
          description: Date in YYYY-MM-DD format
          schema:
            type: string
            format: date
        - name: "parameters[date_from]"
          in: query
          description: Start date in YYYY-MM-DD format
          schema:
            type: string
            format: date
        - name: "parameters[date_to]"
          in: query
          description: End date in YYYY-MM-DD format
          schema:
            type: string
            format: date
        - name: "parameters[date_sort]"
          in: query
          description: Date sort order
          schema:
            type: string
        - name: "parameters[sort]"
          in: query
          description: Sort order
          schema:
            type: string
        - name: "parameters[action]"
          in: query
          description: Action
          schema:
            type: string
        - name: country
          in: query
          description: Country
          schema:
            type: string
        - name: "parameters[dividend_yield_operation]"
          in: query
          description: Dividend yield operation
          schema:
            type: string
        - name: "parameters[dividend_yield]"
          in: query
          description: Dividend yield
          schema:
            type: number
        - name: "parameters[importance]"
          in: query
          description: Importance
          schema:
            type: integer
        - name: "parameters[is_primary]"
          in: query
          description: Is primary
          schema:
            type: string
        - name: "parameters[tickers]"
          in: query
          description: Tickers
          schema:
            type: string
        - name: "parameters[ipo_type]"
          in: query
          description: IPO type
          schema:
            type: string
        - name: type
          in: query
          description: Type
          schema:
            type: string
        - name: "parameters[updated]"
          in: query
          description: Updated time in Unix format
          schema:
            type: string
            format: int64
        - name: updated
          in: query
          description: Updated time in Unix format
          schema:
            type: string
            format: int64
        - name: "parameters[display]"
          in: query
          description: Display
          schema:
            type: string
        - name: "parameters[securities]"
          in: query
          description: Securities
          schema:
            type: string
        - name: "parameters[date_search_field]"
          in: query
          description: Date search field
          schema:
            type: string
        - name: "parameters[date_search_strict]"
          in: query
          description: Date search strict
          schema:
            type: boolean
        - name: fields
          in: query
          description: Fields
          schema:
            type: string
        - name: analyst
          in: query
          description: Analyst
          schema:
            type: string
        - name: firm
          in: query
          description: Firm
          schema:
            type: string
        - name: "parameters[analyst_id]"
          in: query
          description: Analyst IDs
          schema:
            type: string
        - name: "parameters[firm_id]"
          in: query
          description: Firm IDs
          schema:
            type: string
        - name: search_keys
          in: query
          description: Search keys
          schema:
            type: string
        - name: search_keys_type
          in: query
          description: Search keys type
          schema:
            type: string
        - name: updated_since
          in: query
          description: Updated since time in Unix format
          schema:
            type: string
            format: int64
        - name: active
          in: query
          description: Active
          schema:
            type: boolean
        - name: firm_name
          in: query
          description: Firm name
          schema:
            type: string
        - name: analyst_name
          in: query
          description: Analyst name
          schema:
            type: string
        - name: symbols
          in: query
          description: Symbols
          schema:
            type: string
        - name: latest
          in: query
          description: Latest
          schema:
            type: boolean
        - name: rating_id
          in: query
          description: Rating ID
          schema:
            type: string
        - name: events
          in: query
          description: Events
          schema:
            type: string
        - name: event_category
          in: query
          description: Event category
          schema:
            type: string
      responses:
        "200":
          description: Guidance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.GuidanceJSON'
            text/xml:
              schema:
                $ref: '#/components/schemas/models.GuidanceJSON'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
      security:
        - ApiKeyAuth: []
  /calendar/ipos:
    get:
      tags:
        - ipos
      summary: Get IPOs
      description: Returns the IPOs data
      operationId: get-ipos
      parameters:
        - name: page
          in: query
          description: Page number
          schema:
            type: integer
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
        - name: pagesize
          in: query
          description: Page size (alternative)
          schema:
            type: integer
        - name: "parameters[date]"
          in: query
          description: Date in YYYY-MM-DD format
          schema:
            type: string
            format: date
        - name: "parameters[date_from]"
          in: query
          description: Start date in YYYY-MM-DD format
          schema:
            type: string
            format: date
        - name: "parameters[date_to]"
          in: query
          description: End date in YYYY-MM-DD format
          schema:
            type: string
            format: date
        - name: "parameters[date_sort]"
          in: query
          description: Date sort order
          schema:
            type: string
        - name: "parameters[sort]"
          in: query
          description: Sort order
          schema:
            type: string
        - name: "parameters[action]"
          in: query
          description: Action
          schema:
            type: string
        - name: country
          in: query
          description: Country
          schema:
            type: string
        - name: "parameters[dividend_yield_operation]"
          in: query
          description: Dividend yield operation
          schema:
            type: string
        - name: "parameters[dividend_yield]"
          in: query
          description: Dividend yield
          schema:
            type: number
        - name: "parameters[importance]"
          in: query
          description: Importance
          schema:
            type: integer
        - name: "parameters[is_primary]"
          in: query
          description: Is primary
          schema:
            type: string
        - name: "parameters[tickers]"
          in: query
          description: Tickers
          schema:
            type: string
        - name: "parameters[ipo_type]"
          in: query
          description: IPO type
          schema:
            type: string
        - name: type
          in: query
          description: Type
          schema:
            type: string
        - name: "parameters[updated]"
          in: query
          description: Updated time in Unix format
          schema:
            type: string
            format: int64
        - name: updated
          in: query
          description: Updated time in Unix format
          schema:
            type: string
            format: int64
        - name: "parameters[display]"
          in: query
          description: Display
          schema:
            type: string
        - name: "parameters[securities]"
          in: query
          description: Securities
          schema:
            type: string
        - name: "parameters[date_search_field]"
          in: query
          description: Date search field
          schema:
            type: string
        - name: "parameters[date_search_strict]"
          in: query
          description: Date search strict
          schema:
            type: boolean
        - name: fields
          in: query
          description: Fields
          schema:
            type: string
        - name: analyst
          in: query
          description: Analyst
          schema:
            type: string
        - name: firm
          in: query
          description: Firm
          schema:
            type: string
        - name: "parameters[analyst_id]"
          in: query
          description: Analyst IDs
          schema:
            type: string
        - name: "parameters[firm_id]"
          in: query
          description: Firm IDs
          schema:
            type: string
        - name: search_keys
          in: query
          description: Search keys
          schema:
            type: string
        - name: search_keys_type
          in: query
          description: Search keys type
          schema:
            type: string
        - name: updated_since
          in: query
          description: Updated since time in Unix format
          schema:
            type: string
            format: int64
        - name: active
          in: query
          description: Active
          schema:
            type: boolean
        - name: firm_name
          in: query
          description: Firm name
          schema:
            type: string
        - name: analyst_name
          in: query
          description: Analyst name
          schema:
            type: string
        - name: symbols
          in: query
          description: Symbols
          schema:
            type: string
        - name: latest
          in: query
          description: Latest
          schema:
            type: boolean
        - name: rating_id
          in: query
          description: Rating ID
          schema:
            type: string
        - name: events
          in: query
          description: Events
          schema:
            type: string
        - name: event_category
          in: query
          description: Event category
          schema:
            type: string
      responses:
        "200":
          description: IPOs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.IPOJSON'
            text/xml:
              schema:
                $ref: '#/components/schemas/models.IPOJSON'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
      security:
        - ApiKeyAuth: []
  /calendar/ma:
    get:
      tags:
        - ma
      summary: Get Merger and Acquisition
      description: Returns merger and acquisition data
      operationId: get-ma
      parameters:
        - name: page
          in: query
          description: Page number
          schema:
            type: integer
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
        - name: pagesize
          in: query
          description: Page size (alternative)
          schema:
            type: integer
        - name: "parameters[date]"
          in: query
          description: Date in YYYY-MM-DD format
          schema:
            type: string
            format: date
        - name: "parameters[date_from]"
          in: query
          description: Start date in YYYY-MM-DD format
          schema:
            type: string
            format: date
        - name: "parameters[date_to]"
          in: query
          description: End date in YYYY-MM-DD format
          schema:
            type: string
            format: date
        - name: "parameters[date_sort]"
          in: query
          description: Date sort order
          schema:
            type: string
        - name: "parameters[sort]"
          in: query
          description: Sort order
          schema:
            type: string
        - name: "parameters[action]"
          in: query
          description: Action
          schema:
            type: string
        - name: country
          in: query
          description: Country
          schema:
            type: string
        - name: "parameters[dividend_yield_operation]"
          in: query
          description: Dividend yield operation
          schema:
            type: string
        - name: "parameters[dividend_yield]"
          in: query
          description: Dividend yield
          schema:
            type: number
        - name: "parameters[importance]"
          in: query
          description: Importance
          schema:
            type: integer
        - name: "parameters[is_primary]"
          in: query
          description: Is primary
          schema:
            type: string
        - name: "parameters[tickers]"
          in: query
          description: Tickers
          schema:
            type: string
        - name: "parameters[ipo_type]"
          in: query
          description: IPO type
          schema:
            type: string
        - name: type
          in: query
          description: Type
          schema:
            type: string
        - name: "parameters[updated]"
          in: query
          description: Updated time in Unix format
          schema:
            type: string
            format: int64
        - name: updated
          in: query
          description: Updated time in Unix format
          schema:
            type: string
            format: int64
        - name: "parameters[display]"
          in: query
          description: Display
          schema:
            type: string
        - name: "parameters[securities]"
          in: query
          description: Securities
          schema:
            type: string
        - name: "parameters[date_search_field]"
          in: query
          description: Date search field
          schema:
            type: string
        - name: "parameters[date_search_strict]"
          in: query
          description: Date search strict
          schema:
            type: boolean
        - name: fields
          in: query
          description: Fields
          schema:
            type: string
        - name: analyst
          in: query
          description: Analyst
          schema:
            type: string
        - name: firm
          in: query
          description: Firm
          schema:
            type: string
        - name: "parameters[analyst_id]"
          in: query
          description: Analyst IDs
          schema:
            type: string
        - name: "parameters[firm_id]"
          in: query
          description: Firm IDs
          schema:
            type: string
        - name: search_keys
          in: query
          description: Search keys
          schema:
            type: string
        - name: search_keys_type
          in: query
          description: Search keys type
          schema:
            type: string
        - name: updated_since
          in: query
          description: Updated since time in Unix format
          schema:
            type: string
            format: int64
        - name: active
          in: query
          description: Active
          schema:
            type: boolean
        - name: firm_name
          in: query
          description: Firm name
          schema:
            type: string
        - name: analyst_name
          in: query
          description: Analyst name
          schema:
            type: string
        - name: symbols
          in: query
          description: Symbols
          schema:
            type: string
        - name: latest
          in: query
          description: Latest
          schema:
            type: boolean
        - name: rating_id
          in: query
          description: Rating ID
          schema:
            type: string
        - name: events
          in: query
          description: Events
          schema:
            type: string
        - name: event_category
          in: query
          description: Event category
          schema:
            type: string
      responses:
        "200":
          description: MA
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.AcquisitionJSON'
            text/xml:
              schema:
                $ref: '#/components/schemas/models.AcquisitionJSON'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
      security:
        - ApiKeyAuth: []
  /calendar/offerings:
    get:
      tags:
        - offerings
      summary: Get Offerings
      description: Returns Secondary Offering data
      operationId: get-offerings
      parameters:
        - name: page
          in: query
          description: Page number
          schema:
            type: integer
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
        - name: pagesize
          in: query
          description: Page size (alternative)
          schema:
            type: integer
        - name: "parameters[date]"
          in: query
          description: Date in YYYY-MM-DD format
          schema:
            type: string
            format: date
        - name: "parameters[date_from]"
          in: query
          description: Start date in YYYY-MM-DD format
          schema:
            type: string
            format: date
        - name: "parameters[date_to]"
          in: query
          description: End date in YYYY-MM-DD format
          schema:
            type: string
            format: date
        - name: "parameters[date_sort]"
          in: query
          description: Date sort order
          schema:
            type: string
        - name: "parameters[sort]"
          in: query
          description: Sort order
          schema:
            type: string
        - name: "parameters[action]"
          in: query
          description: Action
          schema:
            type: string
        - name: country
          in: query
          description: Country
          schema:
            type: string
        - name: "parameters[dividend_yield_operation]"
          in: query
          description: Dividend yield operation
          schema:
            type: string
        - name: "parameters[dividend_yield]"
          in: query
          description: Dividend yield
          schema:
            type: number
        - name: "parameters[importance]"
          in: query
          description: Importance
          schema:
            type: integer
        - name: "parameters[is_primary]"
          in: query
          description: Is primary
          schema:
            type: string
        - name: "parameters[tickers]"
          in: query
          description: Tickers
          schema:
            type: string
        - name: "parameters[ipo_type]"
          in: query
          description: IPO type
          schema:
            type: string
        - name: type
          in: query
          description: Type
          schema:
            type: string
        - name: "parameters[updated]"
          in: query
          description: Updated time in Unix format
          schema:
            type: string
            format: int64
        - name: updated
          in: query
          description: Updated time in Unix format
          schema:
            type: string
            format: int64
        - name: "parameters[display]"
          in: query
          description: Display
          schema:
            type: string
        - name: "parameters[securities]"
          in: query
          description: Securities
          schema:
            type: string
        - name: "parameters[date_search_field]"
          in: query
          description: Date search field
          schema:
            type: string
        - name: "parameters[date_search_strict]"
          in: query
          description: Date search strict
          schema:
            type: boolean
        - name: fields
          in: query
          description: Fields
          schema:
            type: string
        - name: analyst
          in: query
          description: Analyst
          schema:
            type: string
        - name: firm
          in: query
          description: Firm
          schema:
            type: string
        - name: "parameters[analyst_id]"
          in: query
          description: Analyst IDs
          schema:
            type: string
        - name: "parameters[firm_id]"
          in: query
          description: Firm IDs
          schema:
            type: string
        - name: search_keys
          in: query
          description: Search keys
          schema:
            type: string
        - name: search_keys_type
          in: query
          description: Search keys type
          schema:
            type: string
        - name: updated_since
          in: query
          description: Updated since time in Unix format
          schema:
            type: string
            format: int64
        - name: active
          in: query
          description: Active
          schema:
            type: boolean
        - name: firm_name
          in: query
          description: Firm name
          schema:
            type: string
        - name: analyst_name
          in: query
          description: Analyst name
          schema:
            type: string
        - name: symbols
          in: query
          description: Symbols
          schema:
            type: string
        - name: latest
          in: query
          description: Latest
          schema:
            type: boolean
        - name: rating_id
          in: query
          description: Rating ID
          schema:
            type: string
        - name: events
          in: query
          description: Events
          schema:
            type: string
        - name: event_category
          in: query
          description: Event category
          schema:
            type: string
      responses:
        "200":
          description: Offerings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.OfferingJSON'
            text/xml:
              schema:
                $ref: '#/components/schemas/models.OfferingJSON'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
      security:
        - ApiKeyAuth: []
  /calendar/ratings:
    get:
      tags:
        - ratings
      summary: Get Ratings
      description: Returns analyst ratings data
      operationId: get-rating
      parameters:
        - name: page
          in: query
          description: Page number
          schema:
            type: integer
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
        - name: pagesize
          in: query
          description: Page size (alternative)
          schema:
            type: integer
        - name: "parameters[date]"
          in: query
          description: Date in YYYY-MM-DD format
          schema:
            type: string
            format: date
        - name: "parameters[date_from]"
          in: query
          description: Start date in YYYY-MM-DD format
          schema:
            type: string
            format: date
        - name: "parameters[date_to]"
          in: query
          description: End date in YYYY-MM-DD format
          schema:
            type: string
            format: date
        - name: "parameters[date_sort]"
          in: query
          description: Date sort order
          schema:
            type: string
        - name: "parameters[sort]"
          in: query
          description: Sort order
          schema:
            type: string
        - name: "parameters[action]"
          in: query
          description: Action
          schema:
            type: string
        - name: country
          in: query
          description: Country
          schema:
            type: string
        - name: "parameters[dividend_yield_operation]"
          in: query
          description: Dividend yield operation
          schema:
            type: string
        - name: "parameters[dividend_yield]"
          in: query
          description: Dividend yield
          schema:
            type: number
        - name: "parameters[importance]"
          in: query
          description: Importance
          schema:
            type: integer
        - name: "parameters[is_primary]"
          in: query
          description: Is primary
          schema:
            type: string
        - name: "parameters[tickers]"
          in: query
          description: Tickers
          schema:
            type: string
        - name: "parameters[ipo_type]"
          in: query
          description: IPO type
          schema:
            type: string
        - name: type
          in: query
          description: Type
          schema:
            type: string
        - name: "parameters[updated]"
          in: query
          description: Updated time in Unix format
          schema:
            type: string
            format: int64
        - name: updated
          in: query
          description: Updated time in Unix format
          schema:
            type: string
            format: int64
        - name: "parameters[display]"
          in: query
          description: Display
          schema:
            type: string
        - name: "parameters[securities]"
          in: query
          description: Securities
          schema:
            type: string
        - name: "parameters[date_search_field]"
          in: query
          description: Date search field
          schema:
            type: string
        - name: "parameters[date_search_strict]"
          in: query
          description: Date search strict
          schema:
            type: boolean
        - name: fields
          in: query
          description: Fields
          schema:
            type: string
        - name: analyst
          in: query
          description: Analyst
          schema:
            type: string
        - name: firm
          in: query
          description: Firm
          schema:
            type: string
        - name: "parameters[analyst_id]"
          in: query
          description: Analyst IDs
          schema:
            type: string
        - name: "parameters[firm_id]"
          in: query
          description: Firm IDs
          schema:
            type: string
        - name: search_keys
          in: query
          description: Search keys
          schema:
            type: string
        - name: search_keys_type
          in: query
          description: Search keys type
          schema:
            type: string
        - name: updated_since
          in: query
          description: Updated since time in Unix format
          schema:
            type: string
            format: int64
        - name: active
          in: query
          description: Active
          schema:
            type: boolean
        - name: firm_name
          in: query
          description: Firm name
          schema:
            type: string
        - name: analyst_name
          in: query
          description: Analyst name
          schema:
            type: string
        - name: symbols
          in: query
          description: Symbols
          schema:
            type: string
        - name: latest
          in: query
          description: Latest
          schema:
            type: boolean
        - name: rating_id
          in: query
          description: Rating ID
          schema:
            type: string
        - name: events
          in: query
          description: Events
          schema:
            type: string
        - name: event_category
          in: query
          description: Event category
          schema:
            type: string
      responses:
        "200":
          description: Ratings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.RatingJSON'
            text/xml:
              schema:
                $ref: '#/components/schemas/models.RatingJSON'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
      security:
        - ApiKeyAuth: []
  /calendar/ratings/analysts:
    get:
      tags:
        - ratings_analysts
      summary: Get Ratings Analysts
      description: Returns the full list of analyst that are providing ratings
      operationId: get-ratings-analysts
      parameters:
        - name: page
          in: query
          description: Page number
          schema:
            type: integer
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
        - name: pagesize
          in: query
          description: Page size (alternative)
          schema:
            type: integer
        - name: "parameters[date]"
          in: query
          description: Date in YYYY-MM-DD format
          schema:
            type: string
            format: date
        - name: "parameters[date_from]"
          in: query
          description: Start date in YYYY-MM-DD format
          schema:
            type: string
            format: date
        - name: "parameters[date_to]"
          in: query
          description: End date in YYYY-MM-DD format
          schema:
            type: string
            format: date
        - name: "parameters[date_sort]"
          in: query
          description: Date sort order
          schema:
            type: string
        - name: "parameters[sort]"
          in: query
          description: Sort order
          schema:
            type: string
        - name: "parameters[action]"
          in: query
          description: Action
          schema:
            type: string
        - name: country
          in: query
          description: Country
          schema:
            type: string
        - name: "parameters[dividend_yield_operation]"
          in: query
          description: Dividend yield operation
          schema:
            type: string
        - name: "parameters[dividend_yield]"
          in: query
          description: Dividend yield
          schema:
            type: number
        - name: "parameters[importance]"
          in: query
          description: Importance
          schema:
            type: integer
        - name: "parameters[is_primary]"
          in: query
          description: Is primary
          schema:
            type: string
        - name: "parameters[tickers]"
          in: query
          description: Tickers
          schema:
            type: string
        - name: "parameters[ipo_type]"
          in: query
          description: IPO type
          schema:
            type: string
        - name: type
          in: query
          description: Type
          schema:
            type: string
        - name: "parameters[updated]"
          in: query
          description: Updated time in Unix format
          schema:
            type: string
            format: int64
        - name: updated
          in: query
          description: Updated time in Unix format
          schema:
            type: string
            format: int64
        - name: "parameters[display]"
          in: query
          description: Display
          schema:
            type: string
        - name: "parameters[securities]"
          in: query
          description: Securities
          schema:
            type: string
        - name: "parameters[date_search_field]"
          in: query
          description: Date search field
          schema:
            type: string
        - name: "parameters[date_search_strict]"
          in: query
          description: Date search strict
          schema:
            type: boolean
        - name: fields
          in: query
          description: Fields
          schema:
            type: string
        - name: analyst
          in: query
          description: Analyst
          schema:
            type: string
        - name: firm
          in: query
          description: Firm
          schema:
            type: string
        - name: "parameters[analyst_id]"
          in: query
          description: Analyst IDs
          schema:
            type: string
        - name: "parameters[firm_id]"
          in: query
          description: Firm IDs
          schema:
            type: string
        - name: search_keys
          in: query
          description: Search keys
          schema:
            type: string
        - name: search_keys_type
          in: query
          description: Search keys type
          schema:
            type: string
        - name: updated_since
          in: query
          description: Updated since time in Unix format
          schema:
            type: string
            format: int64
        - name: active
          in: query
          description: Active
          schema:
            type: boolean
        - name: firm_name
          in: query
          description: Firm name
          schema:
            type: string
        - name: analyst_name
          in: query
          description: Analyst name
          schema:
            type: string
        - name: symbols
          in: query
          description: Symbols
          schema:
            type: string
        - name: latest
          in: query
          description: Latest
          schema:
            type: boolean
        - name: rating_id
          in: query
          description: Rating ID
          schema:
            type: string
        - name: events
          in: query
          description: Events
          schema:
            type: string
        - name: event_category
          in: query
          description: Event category
          schema:
            type: string
      responses:
        "200":
          description: Ratings Analysts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.RatingsAnalystJSON'
            text/xml:
              schema:
                $ref: '#/components/schemas/models.RatingsAnalystJSON'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
      security:
        - ApiKeyAuth: []
  /calendar/ratings/firms:
    get:
      tags:
        - ratings_firms
      summary: Get Ratings Firms
      description: Returns the available firms providing analyst ratings
      operationId: get-ratings-firms
      parameters:
        - name: page
          in: query
          description: Page number
          schema:
            type: integer
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
        - name: pagesize
          in: query
          description: Page size (alternative)
          schema:
            type: integer
        - name: "parameters[date]"
          in: query
          description: Date in YYYY-MM-DD format
          schema:
            type: string
            format: date
        - name: "parameters[date_from]"
          in: query
          description: Start date in YYYY-MM-DD format
          schema:
            type: string
            format: date
        - name: "parameters[date_to]"
          in: query
          description: End date in YYYY-MM-DD format
          schema:
            type: string
            format: date
        - name: "parameters[date_sort]"
          in: query
          description: Date sort order
          schema:
            type: string
        - name: "parameters[sort]"
          in: query
          description: Sort order
          schema:
            type: string
        - name: "parameters[action]"
          in: query
          description: Action
          schema:
            type: string
        - name: country
          in: query
          description: Country
          schema:
            type: string
        - name: "parameters[dividend_yield_operation]"
          in: query
          description: Dividend yield operation
          schema:
            type: string
        - name: "parameters[dividend_yield]"
          in: query
          description: Dividend yield
          schema:
            type: number
        - name: "parameters[importance]"
          in: query
          description: Importance
          schema:
            type: integer
        - name: "parameters[is_primary]"
          in: query
          description: Is primary
          schema:
            type: string
        - name: "parameters[tickers]"
          in: query
          description: Tickers
          schema:
            type: string
        - name: "parameters[ipo_type]"
          in: query
          description: IPO type
          schema:
            type: string
        - name: type
          in: query
          description: Type
          schema:
            type: string
        - name: "parameters[updated]"
          in: query
          description: Updated time in Unix format
          schema:
            type: string
            format: int64
        - name: updated
          in: query
          description: Updated time in Unix format
          schema:
            type: string
            format: int64
        - name: "parameters[display]"
          in: query
          description: Display
          schema:
            type: string
        - name: "parameters[securities]"
          in: query
          description: Securities
          schema:
            type: string
        - name: "parameters[date_search_field]"
          in: query
          description: Date search field
          schema:
            type: string
        - name: "parameters[date_search_strict]"
          in: query
          description: Date search strict
          schema:
            type: boolean
        - name: fields
          in: query
          description: Fields
          schema:
            type: string
        - name: analyst
          in: query
          description: Analyst
          schema:
            type: string
        - name: firm
          in: query
          description: Firm
          schema:
            type: string
        - name: "parameters[analyst_id]"
          in: query
          description: Analyst IDs
          schema:
            type: string
        - name: "parameters[firm_id]"
          in: query
          description: Firm IDs
          schema:
            type: string
        - name: search_keys
          in: query
          description: Search keys
          schema:
            type: string
        - name: search_keys_type
          in: query
          description: Search keys type
          schema:
            type: string
        - name: updated_since
          in: query
          description: Updated since time in Unix format
          schema:
            type: string
            format: int64
        - name: active
          in: query
          description: Active
          schema:
            type: boolean
        - name: firm_name
          in: query
          description: Firm name
          schema:
            type: string
        - name: analyst_name
          in: query
          description: Analyst name
          schema:
            type: string
        - name: symbols
          in: query
          description: Symbols
          schema:
            type: string
        - name: latest
          in: query
          description: Latest
          schema:
            type: boolean
        - name: rating_id
          in: query
          description: Rating ID
          schema:
            type: string
        - name: events
          in: query
          description: Events
          schema:
            type: string
        - name: event_category
          in: query
          description: Event category
          schema:
            type: string
      responses:
        "200":
          description: Ratings Analysts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.RatingsAnalystJSON'
            text/xml:
              schema:
                $ref: '#/components/schemas/models.RatingsAnalystJSON'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
      security:
        - ApiKeyAuth: []
  /calendar/splits:
    get:
      tags:
        - splits
      summary: Get Splits
      description: Returns splits calendar data
      operationId: get-splits
      parameters:
        - name: page
          in: query
          description: Page number
          schema:
            type: integer
        - name: pageSize
          in: query
          description: Page size
          schema:
            type: integer
        - name: pagesize
          in: query
          description: Page size (alternative)
          schema:
            type: integer
        - name: "parameters[date]"
          in: query
          description: Date in YYYY-MM-DD format
          schema:
            type: string
            format: date
        - name: "parameters[date_from]"
          in: query
          description: Start date in YYYY-MM-DD format
          schema:
            type: string
            format: date
        - name: "parameters[date_to]"
          in: query
          description: End date in YYYY-MM-DD format
          schema:
            type: string
            format: date
        - name: "parameters[date_sort]"
          in: query
          description: Date sort order
          schema:
            type: string
        - name: "parameters[sort]"
          in: query
          description: Sort order
          schema:
            type: string
        - name: "parameters[action]"
          in: query
          description: Action
          schema:
            type: string
        - name: country
          in: query
          description: Country
          schema:
            type: string
        - name: "parameters[dividend_yield_operation]"
          in: query
          description: Dividend yield operation
          schema:
            type: string
        - name: "parameters[dividend_yield]"
          in: query
          description: Dividend yield
          schema:
            type: number
        - name: "parameters[importance]"
          in: query
          description: Importance
          schema:
            type: integer
        - name: "parameters[is_primary]"
          in: query
          description: Is primary
          schema:
            type: string
        - name: "parameters[tickers]"
          in: query
          description: Tickers
          schema:
            type: string
        - name: "parameters[ipo_type]"
          in: query
          description: IPO type
          schema:
            type: string
        - name: type
          in: query
          description: Type
          schema:
            type: string
        - name: "parameters[updated]"
          in: query
          description: Updated time in Unix format
          schema:
            type: string
            format: int64
        - name: updated
          in: query
          description: Updated time in Unix format
          schema:
            type: string
            format: int64
        - name: "parameters[display]"
          in: query
          description: Display
          schema:
            type: string
        - name: "parameters[securities]"
          in: query
          description: Securities
          schema:
            type: string
        - name: "parameters[date_search_field]"
          in: query
          description: Date search field
          schema:
            type: string
        - name: "parameters[date_search_strict]"
          in: query
          description: Date search strict
          schema:
            type: boolean
        - name: fields
          in: query
          description: Fields
          schema:
            type: string
        - name: analyst
          in: query
          description: Analyst
          schema:
            type: string
        - name: firm
          in: query
          description: Firm
          schema:
            type: string
        - name: "parameters[analyst_id]"
          in: query
          description: Analyst IDs
          schema:
            type: string
        - name: "parameters[firm_id]"
          in: query
          description: Firm IDs
          schema:
            type: string
        - name: search_keys
          in: query
          description: Search keys
          schema:
            type: string
        - name: search_keys_type
          in: query
          description: Search keys type
          schema:
            type: string
        - name: updated_since
          in: query
          description: Updated since time in Unix format
          schema:
            type: string
            format: int64
        - name: active
          in: query
          description: Active
          schema:
            type: boolean
        - name: firm_name
          in: query
          description: Firm name
          schema:
            type: string
        - name: analyst_name
          in: query
          description: Analyst name
          schema:
            type: string
        - name: symbols
          in: query
          description: Symbols
          schema:
            type: string
        - name: latest
          in: query
          description: Latest
          schema:
            type: boolean
        - name: rating_id
          in: query
          description: Rating ID
          schema:
            type: string
        - name: events
          in: query
          description: Events
          schema:
            type: string
        - name: event_category
          in: query
          description: Event category
          schema:
            type: string
      responses:
        "200":
          description: Splits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.SplitJSON'
            text/xml:
              schema:
                $ref: '#/components/schemas/models.SplitJSON'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/api.ErrorResponse'
      security:
        - ApiKeyAuth: []
components:
  schemas:
    api.ErrorResponse:
      type: object
      properties:
        text:
          type: string
    models.AcquisitionJSON:
      type: object
      properties:
        ma:
          type: array
          items:
            type: object
            additionalProperties: true
    models.ConferenceJSON:
      type: object
      properties:
        conference:
          type: array
          items:
            type: object
            additionalProperties: true
    models.DividendJSON:
      type: object
      properties:
        dividends:
          type: array
          items:
            type: object
            additionalProperties: true
    models.EarningJSON:
      type: object
      properties:
        earnings:
          type: array
          items:
            type: object
            additionalProperties: true
    models.EconomicJSON:
      type: object
      properties:
        economics:
          type: array
          items:
            type: object
            additionalProperties: true
    models.EventsJSON:
      type: object
      properties:
        events:
          type: array
          items:
            type: object
            additionalProperties: true
    models.FDAJSON:
      type: object
      properties:
        fda:
          type: array
          items:
            type: object
            additionalProperties: true
    models.GuidanceJSON:
      type: object
      properties:
        guidance:
          type: array
          items:
            type: object
            additionalProperties: true
    models.IPOJSON:
      type: object
      properties:
        ipos:
          type: array
          items:
            type: object
            additionalProperties: true
    models.OfferingJSON:
      type: object
      properties:
        offerings:
          type: array
          items:
            type: object
            additionalProperties: true
    models.RatingJSON:
      type: object
      properties:
        ratings:
          type: array
          items:
            type: object
            additionalProperties: true
    models.RatingsAnalystJSON:
      type: object
      properties:
        analyst_ratings_analyst:
          type: array
          items:
            type: object
            additionalProperties: true
    models.SplitJSON:
      type: object
      properties:
        splits:
          type: array
          items:
            type: object
            additionalProperties: true
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: token
      in: query
x-original-swagger-version: "2.0"
